*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #F9C198;
    font-family: 'Noto Sans', sans-serif;
}



.button{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .button > a {
      float: left;
      
  }
  
  li > a:hover {
      background-color: #d6ecf3;
      color: black;
    }
  
  #tick{
      font-size: large;
      font-weight: 700;
      color: black;
  }
  
  #home{
      background: #0B72BD;
      }
  
  #home:hover {
      background-color: rgb(40, 40, 231);
      color: black;
   }  

nav{
    width: 60vw;
    height: 80%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

nav > ul > li{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
    background: #98D0F9;
}

.h2{
    font-family: 'Noto Sans', sans-serif;
    background: #665E5E;
    height: 70px;
}

#T{
    margin-left: 5px;
    color: #E0E0E0;
}

#AC{
    width: 50px;
    height: 20px;
    font-family: 'Noto Sans', sans-serif;
    margin: 5px;
    color: #E0E0E0;
    background: #bdb9b9;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#NC{
    width: 50px;
    height: 20px;
    font-family: 'Noto Sans', sans-serif;
    margin: 5px;
    color: #E0E0E0;
    background: #858585;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.h1{
    background: #DF8544;
    height: 80px;
}

#fotoslide{
    width: 100vw;
    height: 82vh;
    background-size: cover;
    background-position: center;
    animation-name: fotoslide;
    animation-duration: 20s;
    animation-iteration-count: infinite ;
    max-width: 100vw;
}

.P{
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.tentoon{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 300px;
}

.H2{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    margin-bottom: 20px;
    font-size: 80px;
}

.H3{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

.at1{
    margin-bottom: 30px;
}

.tentp{
    width: 500px;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tent{
    background: #98D0F9;
    width: 500px;
    height: 50px;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding-top: 0;
    color: black;
    border: none;
    text-decoration: none;
    display: inline-block; 
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

.arrow{
    margin-left: 120px;
   color: black;
}

.arrow1{
    margin-left: 230px;
}

.arrow2{
    margin-left: 190px;
}

.arrow3{
    margin-left: 90px;
}

.GS{
    margin-top: 20px;
    width: 40vw;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: inline-block;
}

#geschiedenis{
    display: flex;
    
}

#geschiedenis > div > figure{
    margin-top: 115px;
    margin-right: 140px;

}

#geschiedenis > div > figure > figcaption{
    background: #98D0F9;
}

#tijden{
    margin-top: 20px;
    margin-bottom: 100px;
}

#tijden > div{
    display: flex;
    gap: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#tijden > div > div > figure{
    background: #98D0F9 ;
    color: white;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    gap: 50px;
    width: 290px;
}

#tijden > div >figure{
    background: #98D0F9 ;
    color: white;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    height: 110px;
    width: 400px;
    margin-top: 10px;
}

#vr > img{
    width: 50vw;
    margin-left: 150px;
    margin-right: 150px;
}

#revieuws > img{
    margin-left: 150px;
    margin-right: 150px;
}

#feld{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    background: #98D0F9;
    width: 700px;
    
}

.H23{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

#REA{
    margin-left: 1200px;
    margin-top: -350px;
}

.checked {
    color: orange;
}

.ster{
    font-size: 50px;
    color: yellow;
}

#flex2{
    display: flex;
    flex-direction: row;
}

#input{
    width: 500px;
    height: 200px;
    margin-left: 10px;
}

#sub{
    width: 80px;
    height: 30px;
    margin-left: 10px;
}

#contact > figure{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    background:#98D0F9;
    width: 1000px;
}



#contact > figure >p{
    color: white;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    
}

.top{
    width: 80px;
    height: 80px;
    background: #98D0F9;
    border: none;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 120px;
    right: 120px;
    text-decoration:none ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top:hover {
 background: #d6ecf3;
}

footer{
    background: #DF8544;
    height: 50px;
}

@keyframes fotoslide {
    0%{
        opacity: 0;
        background-image: url("../img/ActiviteitenMuseumnacht2020Noordelijk-Scheepvaart_1200xAUTO_fit_center-center_95_noneMuseumnacht_2019_Knelis-zolder.jpg");
    }

    10%{
        opacity: 1;
        background-image: url("../img/ActiviteitenMuseumnacht2020Noordelijk-Scheepvaart_1200xAUTO_fit_center-center_95_noneMuseumnacht_2019_Knelis-zolder.jpg");
    }

    19%{
        opacity: 0;
        background-image: url("../img/ActiviteitenMuseumnacht2020Noordelijk-Scheepvaart_1200xAUTO_fit_center-center_95_noneMuseumnacht_2019_Knelis-zolder.jpg");
    }

    20%{
        opacity: 0;
        background-image: url("../img/Amsterdam_-_Nederlands_Scheepvaartmuseum_18.JPG");
    }

    30%{
        opacity: 1;
        background-image: url("../img/Amsterdam_-_Nederlands_Scheepvaartmuseum_18.JPG");
    }

    39%{
        opacity: 0;
        background-image: url("../img/Amsterdam_-_Nederlands_Scheepvaartmuseum_18.JPG");
    }

    40%{
        opacity: 0;
        background-image: url("../img/event-borrel-in-het-open-plein-van-het-scheepvaartmuseum--1200x800.jpg");
    }

    50%{
        opacity: 1;
        background-image: url("../img/event-borrel-in-het-open-plein-van-het-scheepvaartmuseum--1200x800.jpg");
    }

    59%{
        opacity: 0;
        background-image: url("../img/event-borrel-in-het-open-plein-van-het-scheepvaartmuseum--1200x800.jpg");
    }

    60%{
        opacity: 0;
        background-image: url("../img/openingstijden_2_actieblok_rasterized.jpg");
    }

    70%{
        opacity: 1;
        background-image: url("../img/openingstijden_2_actieblok_rasterized.jpg");
    }

    79%{
        opacity: 0;
        background-image: url("../img/openingstijden_2_actieblok_rasterized.jpg");
    }

    80%{
        opacity: 0;
        background-image: url("../img/Scheepvaartmuseum-walvis.jpg");
    }

    90%{
        opacity: 1;
        background-image: url("../img/Scheepvaartmuseum-walvis.jpg");
    }

    99%{
        opacity: 0;
        background-image: url("../img/Scheepvaartmuseum-walvis.jpg");
    }

    100%{
        opacity: 0;
        background-image: url("../img/ActiviteitenMuseumnacht2020Noordelijk-Scheepvaart_1200xAUTO_fit_center-center_95_noneMuseumnacht_2019_Knelis-zolder.jpg");
    }

}

@media screen and (max-width:1000px) {
    .top{
        bottom: 120px;
        right: 400px;
    }
    .tentoon{
        gap: 25px;
        margin-right: 25px;
        margin-left: 25px;
    }
}