*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #F9C198;
    font-family: 'Noto Sans', sans-serif;
}

#Header{
    position: static;
    height: 150px;
}

.h2{
    font-family: 'Noto Sans', sans-serif;
    background: #665E5E;
    height: 70px;
}

#T{
    margin-left: 5px;
    color: #E0E0E0;
}

#NL{
    width: 50px;
    height: 20px;
    font-family: 'Noto Sans', sans-serif;
    margin: 5px;
    color: #E0E0E0;
    background: #bdb9b9;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#EN{
    width: 50px;
    height: 20px;
    font-family: 'Noto Sans', sans-serif;
    margin: 5px;
    color: #E0E0E0;
    background: #858585;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.h1{
    background: #DF8544;
    height: 80px;
}

.button{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.button > li {
    float: left;
    
}


li > button{
    background: #98D0F9;
    width: 130px;
    height: 30px;
    font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    margin-top: 20px;
    color: black;
    border: none;
    text-decoration: none;
    display: inline-block; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #d6ecf3;
    color: black;
  }

#tick{
    width: 140px;
    height: 40px;
    font-size: large;
    font-weight: 700;
    padding: 5px;
}

#home{
    background: #0B72BD;
    }

#home:hover {
    background-color: rgb(40, 40, 231);
    color: black;
 }

 #slide{
    width: 99vw;
    height: 50vw;
    display: flex;
    justify-content: center;

}

#intro{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.tentoon{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    text-align: left;
    display: flex;
    gap: 300px;
}

#tentoonH{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    margin-bottom: 20px;
    font-size: 80px;
}



#at1{
    margin-bottom: 30px;
}

#tentp{
    width: 500px;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

#tent{
    background: #98D0F9;
    width: 500px;
    height: 50px;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding-top: 0;
    color: black;
    border: none;
    text-decoration: none;
    display: inline-block; 
    display: flex;
    align-items: center;
    
    transition-duration: 0.4s;
    cursor: pointer;
}

.arrow{
    margin-left: 130px;
   color: black;
}

.arrow1{
    margin-left: 230px;
}

.arrow2{
    margin-left: 220px;
}

.arrow3{
    margin-left: 170px;
}